.LandingPage {
  $self: &;
  $bg-brkpt: large;
  overflow: hidden;

  @include breakpoint(medium) {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
  }

  @include breakpoint($bg-brkpt) {
    &:after,
    &:before {
      display: block;
      position: absolute;
      width: 50vw;
      height: 100vh;
      background-repeat: no-repeat;
      content: '';
    }
    &:before {
      bottom: 0;
      left: rem(-94);
      background-image: url('img_bg_foot_subpage');
      background-position: bottom right;
      background-size: auto rem(580);
    }
    &:after {
      top: 0;
      right: 0;
      background-image: url('img_bg_hero_subpage3');
      background-position: top left;
      background-size: auto rem(1000);
    }
  }

  > * {
    position: relative;
    z-index: 1;
  }

  &__innerWrap {
    @include breakpoint(medium down) {
      &:last-child {
        position: relative;
        > * {
          position: relative;
          z-index: 1;
        }
        &:after {
          display: block;
          position: absolute;
          top: 0;
          left: rem(-20);
          width: 100vw;
          height: 100vh;
          background-image: url('img_bg_hero_subpage_small');
          background-repeat: no-repeat;
          background-position: top left;
          background-size: rem(800) auto;
          content: '';
        }
      }
    }
    @include breakpoint(small down) {
      &:last-child {
        &:after {
          left: rem(-15);
        }
      }
    }
  }

  &__inner {
    display: grid;
    flex-grow: 1;
    width: 100%;
    padding: $margin-small;
    gap: $margin-large;
    @include breakpoint(medium) {
      @include block-center;
      max-width: $container-width;
      padding: rem(20);
    }
    @include breakpoint($bg-brkpt) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: rem(130);
    }
  }

  &__header {
    $self: &;
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: $margin-small;
    background-color: transparent;
    @include breakpoint(medium) {
      @include block-center;
      max-width: $container-width;
      // position: absolute;
      // top: 0;
      // left: 0;
      padding: rem(20);
      // z-index: 10;
    }
  }

  &__logoWrapper {
    position: relative;
    width: 100%;
    max-width: rem(200);

    @include breakpoint(medium) {
      max-width: rem(245);
    }
  }

  &__logo {
    width: 100%;
  }

  &__logoTitle {
    @include srt;
  }

  &__pageTitle {
    margin-top: rem(32); // remove if the back button comes back
    margin-bottom: rem(30);
    @include breakpoint(medium) {
      // margin-top: rem(30);
      margin-top: rem(62);  // remove if the back button comes back
      margin-bottom: rem(40);
    }
  }

  &__footer {
    @include remove-inner-vertical-margins;
    @include block-center;
    align-self: flex-end;
    width: 100%;
    max-width: $container-width;
    margin-top: rem(100);
    padding: $margin-small;
    color: $white;
    @include breakpoint(medium) {
      padding: rem(20);
    }
    @include breakpoint($bg-brkpt) {
      color: $black;
    }
  }

  .TestimonialCard {
    position: relative;
    max-width: rem(500);
    margin-top: rem(40);

    &:after {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      transform: rotate(180deg);
      color: #fff;
      font-family: 'Georgia', 'Times New Roman', times, serif;
      font-size: rem(100);
      line-height: 0.85;
      content: '\201D';
      opacity: 0.5;
      vertical-align: bottom;
      @include breakpoint(medium) {
        font-size: rem(140);
      }
      @include breakpoint($bg-brkpt) {
        font-size: rem(160);
      }
    }
    @include breakpoint($bg-brkpt) {
      margin-top: rem(60);
      margin-left: rem(34);
    }

    &__quote {
      color: $white;
      opacity: 0.85;
    }
  }

  &__backButton {
    position: relative;
    padding: 0;
    border: 0;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    appearance: none;
    @include breakpoint(medium) {
      margin-top: rem(16);
    }
  }

  &__backIcon {
    width: rem(25);
    height: rem(15);
    transition: 0.25s transform ease-in-out;

    *:hover > &,
    *:focus > & {
      transform: rotate(360deg);
    }
  }

  &__backText {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    padding-left: rem(10);
    transform: translate(0, -50%);
    transition: 0.25s all ease-in-out;
    color: $aqua;
    font-size: rem(14);
    font-weight: $font-weight-bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;

    *:hover > &,
    *:focus > & {
      transform: translate(100%, -50%);
      opacity: 1;
    }
  }

  .TestimonialCredit {
    &__citationName {
      color: $white;
      font-weight: $font-weight-bold;
      @include breakpoint(medium) {
        font-size: rem(20);
      }
    }
  }
}
