@mixin make-form-field {
  padding: rem($form-field-padding-base);
  transition: 0.5s all ease-in;
  border: rem($form-field-border-width) solid $gray-300;
  border-radius: rem($form-field-border-radius);
  background: $white;
  color: $black;
  font-size: rem($form-field-font-size);
  line-height: $form-field-line-height;
  box-shadow: 0 rem(4) rem(10) 0 rgba($black, 0.05);
  appearance: none;

  &::placeholder {
    color: $gray-400;
  }

  &:focus {
    border-color: $color-primary;
    box-shadow: 0 rem(16) rem(30) 0 rgba($black, 0.1);
  }
}

[type='color'],
[type='date'],
[type='datetime-local'],
[type='datetime'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
select,
textarea {
  @include make-form-field;
}

select {
  padding-right: 2rem;
  background-image: url('icons/icon-chevron-down' param(--color, $black));
  background-repeat: no-repeat;
  background-position: right -1rem center;
  background-size: rem(16) rem(8);
  background-origin: content-box;
}
