.FloatingDonuts__item {
  position: fixed;
  bottom: 0;
  left: 10%;
  width: rem(100);
  height: rem(100);
  opacity: 0;
  animation: rise-and-spin 15s linear infinite;
  pointer-events: none;

  &:nth-child(2) {
    left: 30%;
    width: rem(80);
    height: rem(80);
    animation-delay: 3s;
    animation-duration: 17s;
  }
  &:nth-child(3) {
    left: 49%;
    width: rem(110);
    height: rem(110);
    animation-delay: 8s;
    animation-duration: 12s;
  }
  &:nth-child(4) {
    left: 72%;
    width: rem(60);
    height: rem(60);
    animation-delay: 10s;
    animation-duration: 16s;
  }
  &:nth-child(5) {
    left: 90%;
    width: rem(80);
    height: rem(80);
    animation-delay: 15s;
    animation-duration: 20s;
  }
}
