.FloatingDonuts {
  pointer-events: none;

  &__item {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: rem(100);
    height: rem(100);
    opacity: 0;
    animation: rise-and-spin 15s linear infinite;

    @for $i from 2 through 5 {
      /* $size: rem(random(60) + 50);
      &:nth-child(#{$i}) {
        left: #{$i * 20 - 10 + '%'};
        width: $size;
        height: $size;
        animation-delay: #{random(18) + 's'};
        animation-duration: #{random(10) + 10 + 's'};
      } */
    }
  }
}
