.TestimonialCard {
  &__quote {
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    font-size: 1rem;

    p:first-child {
      margin-top: 0;
    }
  }

  > *:last-child {
    margin-bottom: 0;
  }

  &__imgWrapper {
    position: relative;
    flex-shrink: 0;
    width: rem(80);
    height: rem(80);
    margin-bottom: rem(24);
    border-radius: rem(40);
    overflow: hidden;
    @include breakpoint(medium) {
      width: rem(120);
      height: rem(120);
      border-radius: rem(60);
    }
  }

  &__img {
    position: absolute;
    min-width: 100%;
    max-width: none;
    min-height: 100%;
    max-height: 100%;
  }
}
