.Homepage {
  $self: &;

  &__pageHeader {
    .PageHeader__content {
      max-width: rem(480);
    }

    .PageHeader__heading {
      max-width: rem(800);
    }
  }

  &__team {
    @include make-section;
    display: grid;
    gap: $margin-small;
    @include breakpoint(medium) {
      grid-template-columns: repeat(2, 1fr);
      gap: $margin-large;
    }
    @include breakpoint(large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__testimonials {
    @include make-section;
    position: relative;
    @include breakpoint(medium) {
      display: grid;
      grid-template-columns: 33% 66%;
      gap: $margin-large;
    }
  }

  &__testimonialsHeader {
    position: relative;
    z-index: 1;
  }

  &__testimonialSlider {

    @include breakpoint(1250) {
      margin-right: rem(-80);
    }
    @include breakpoint(1340) {
      margin-right: rem(-120);
    }
    @include breakpoint(medium) {
      .slick-slider {
        position: static;
      }
      .slick-dots {
        display: inline-block;
        bottom: 25%;
        left: $margin-large;
        width: auto;
        text-align: left;
      }
      .slick-list {
        overflow: visible;
      }
      .slick-track {
        pointer-events: none;
      }
      .slick-slide {
        transition: 0.25s opacity ease-in;
        opacity: 0;
        pointer-events: none;

        &.slick-active,
        &.slick-active + .slick-slide,
        &.slick-current,
        &.slick-current + .slick-slide {
          opacity: 1;
          pointer-events: auto;
        }

        &.slick-active + .slick-slide + .slick-slide,
        &.slick-current + .slick-slide + .slick-slide {
          opacity: 0.25;
        }
      }

      .CardSlider__cardInner {
        box-shadow: $shadow-large;
      }
    }
  }

  &__testimonialsDonut {
    position: absolute;
    bottom: rem(-100);
    left: rem(-120);
    width: rem(228);
    height: rem(228);
    opacity: 0.05;
    pointer-events: none;

    &,
    > * {
      stroke: $color-primary;
    }
  }

  &__iconBlocks {
    @include make-section;
    text-align: center;
    z-index: 1;
    @include breakpoint(medium) {
      // margin: rem(160) auto;
    }
  }

  &__iconBlocksWrapper {
    display: grid;
    margin: rem(30) 0;
    grid-template: auto / 1fr;
    gap: $margin-large;
    @include breakpoint(medium) {
      margin: 0;
      grid-template: auto / repeat(3, 1fr);
    }
    @include breakpoint(large) {
      gap: rem(90);
    }
  }

  &__iconBlocksHeading {
    margin: rem(40) 0;
    @include breakpoint(medium) {
      margin: rem(90) 0;
    }
  }

  &__imageTextBlocks {
    &:after {
      bottom: rem(480);
      @include breakpoint(370) {
        bottom: rem(400);
      }
      @include breakpoint(medium) {
        bottom: rem(280);
      }
    }
  }

  &__imageTextBlockWrapper {
    padding: rem(20) $margin-small;
    @include breakpoint(medium) {
      padding: rem(50) $margin-large;
    }
    &:last-child {
      //background-color: $white;
    }
    &:nth-child(odd) .ImageTextBlock__image {
      @include breakpoint(medium) {
        order: 2;
      }
    }
  }

  &__imageTextBlock {
    @include block-center;
    position: relative;
    max-width: $container-width;
    z-index: 1;
  }

  &__imageTextBlocksDonut {
    position: absolute;
    width: rem(120);
    height: rem(120);
    opacity: 0.5;
    pointer-events: none;
    @include breakpoint(medium) {
      width: rem(228);
      height: rem(228);
    }

    &--0 {
      top: rem(-80);
      left: calc(50% - #{rem(190)});
      transform: translateX(-50%);
      @include breakpoint(medium) {
        top: rem(-148);
        left: calc(50% - #{rem(400)});
      }
    }

    &--2 {
      top: rem(-20);
      left: calc(50% - #{rem(190)});
      transform: translateX(-50%) rotate(270deg);
      @include breakpoint(medium) {
        top: rem(40);
        left: calc(50% - #{rem(560)});
      }
    }

    &,
    > * {
      stroke: #CCF1F7;
    }
  }

  &__cta {
    @include make-section;
    text-align: center;

    .Button {
      margin: 0.5rem 0;
      @include breakpoint(medium) {
        margin: 0 1rem;
      }
    }
  }

  &__calloutHeading {
    br {
      @include breakpoint(medium down) {
        display: none;
      }
    }
  }

  &__calloutContent {
    margin-top: 2rem;
    @include breakpoint(medium) {
      margin-top: 4rem;
    }
  }
}
