@import 'mixins';

/// Button styles
.Button {
  @include button;
  @include button-default;
  $self: &;
  line-height: $button-line-height;
  text-decoration: none;

  > i,
  > span {
    display: inline-block;
    pointer-events: none;
  }

  &--primary {
    @include button-primary;
  }

  &--ghost {
    @include button-ghost;
    &#{$self}--primary {
      @include button-variant-ghost($button-color-primary);
    }
    &#{$self}--secondary {
      @include button-variant-ghost($button-color-secondary);
    }
    &#{$self}--danger {
      @include button-variant-ghost($button-color-danger);
    }
  }

  &--dashed {
    @include button-dashed;
  }

  &--danger {
    @include button-danger;
  }

  // http://stackoverflow.com/a/21281554/3040605
  &:focus > span,
  &:active > span {
    position: relative;
  }

  &--block {
    width: 100%;
  }

  // https://github.com/ant-design/ant-design/issues/12681
  &:empty {
    vertical-align: top;
  }

  a#{$self} {
    line-height: $button-line-height;
  }
}
