.Mission {

  &__callout {
    @include make-section;
    margin-top: 0;
    text-align: center;
    @include breakpoint(medium) {
      margin-top: 0;
    }
  }

  &__calloutContent {
    display: grid;
    gap: $margin-small;
    @include breakpoint(medium) {
      gap: $margin-large;
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
