.Referral {

  &__callout {
    @include make-section;
    margin-top: 0;
    text-align: center;
    @include breakpoint(medium) {
      margin-top: 0;
    }
  }

  &__calloutContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $margin-large;
  }

  &__iconBlocks {
    @include make-section;
    margin-top: 0;
    text-align: center;
    @include breakpoint(medium) {
      margin-top: 0;
    }
  }

  &__iconBlocksWrapper {
    display: grid;
    margin: rem(30) 0;
    grid-template: auto / 1fr;
    gap: $margin-large;
    @include breakpoint(medium) {
      margin: rem(60) 0;
      grid-template: auto / repeat(3, 1fr);
    }
    @include breakpoint(large) {
      gap: rem(90);
    }
  }

  &__iconBlocksHeading {
    margin: rem(40) 0;
    @include breakpoint(medium) {
      margin: rem(90) 0;
    }
  }

  &__textBlocks {
    @include block-center;
    display: grid;
    max-width: $container-width;
    padding: 0 $margin-small;
    grid-template: auto / 1fr;
    gap: $margin-small;
    @include breakpoint(medium) {
      padding: 0 $margin-large;
      grid-template: 1fr / 1fr 1fr;
      gap: $margin-large;
    }
  }

  &__textBlocksButton {
    text-align: center;
    grid-column: 1 / -1;
  }

  &__accordions {
    @include make-section;
  }

  &__accordionsHeading {
    margin-bottom: 1.5em;
    text-align: center;
  }

  &__accordionsButton {
    margin-top: $margin-large;
    text-align: center;
  }
}
