.IconTextBlock {
  text-align: center;

  &__heading {
    @include text-std-lg;
  }

  &__content {
    color: $grey-600;
  }

  &__contentWrapper {
    margin-top: 1rem;
    @include breakpoint(medium) {
      margin-top: 1.5rem;
    }
  }
}
