@keyframes slide-in-down {
  0% {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }

  to {
    transform: translateZ(0);
  }
}

@keyframes slide-out-up {
  0% {
    transform: translateZ(0);
    opacity: 1;
  }

  to {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translateZ(0);
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(100%, 0, 0);
    visibility: hidden;
  }
}


@keyframes wobble-left-to-right {
  0% {
    margin-left: 0;
  }

  to {
    margin-left: rem(-16);
  }
}

@keyframes unstack {
  0% {
    margin-top: -100%;
  }

  1% {
    margin-top: -10%;
  }

  100% {
    margin-top: 0;
  }
}

@keyframes stack {
  0% {
    margin-top: 0;
  }

  99% {
    margin-top: -80%;
  }

  100% {
    margin-top: -100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
