@import '../util/rem';

$font-family-sans: 'Comfortaa', 'Open Sans', sans-serif !default;
$font-family-body: 'CircularStd', 'Open Sans', sans-serif !default;
$font-family-mono: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace !default;
$font-family: $font-family-body;
$font-family-headings: $font-family-sans;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-black: 800;
$base-font-size: 16px;
$base-line-height: 1.6;
$heading-line-height: 1.4;

$margin-small: rem(15);
$margin-large: rem(30);
$container-width: rem(1160);

/// Colors
$white: #fff;
$black: #333;
$purple: #7f2aea;
$pale: #f6f4fe;
$aqua: #00a7ce;
$gray-100: lighten($black, 75%);
$gray-200: lighten($black, 70%);
$gray-300: lighten($black, 60%);
$gray-400: lighten($black, 50%);
$gray-500: lighten($black, 40%);
$gray-600: lighten($black, 30%);
$gray-700: lighten($black, 20%);
$gray-800: lighten($black, 10%);
$gray-900: darken($black, 10%);

/// Theme colors
$theme-colors: (
  primary: $purple,
  secondary: $aqua,
  success: #71e510,
  danger: #ff1914,
  warning: #ffb006,
  info: #ffcf07,
  light: $gray-200,
  dark: $black,
  white: $white
) !default;

$color-primary: map-get($theme-colors, primary);
$color-secondary: map-get($theme-colors, secondary);
$color-success: map-get($theme-colors, success);
$color-danger: map-get($theme-colors, danger);
$color-warning: map-get($theme-colors, warning);
$color-info: map-get($theme-colors, info);
$color-light: map-get($theme-colors, light);

/// Color variants
$color-primary-light: desaturate(lighten($color-primary, 12%), 15%);


/// Button options
$button-color-primary: $color-secondary;
$button-color-secondary: $color-primary;
$button-color-danger: $color-danger;
$button-color-disabled: $gray-400;
$button-color-ghost: $white;
$button-line-height: 1.5;
$button-padding-base: 16;
$button-font-size: 16;
$button-border-radius: 4;
$button-border-width: 1;
$button-font-weight: $font-weight-medium;

/// Form options
$form-field-line-height: 1.5;
$form-field-padding-base: 16;
$form-field-font-size: 16;
$form-field-border-radius: 4;
$form-field-border-width: 1;

$shadow-large: 0 rem(20) rem(50) rem(-10) rgba($color-primary, 0.08);

:root {
  @each $label, $color in $theme-colors {
    #{--color-#{$label}}: $color;
  }
}
