@import '../util/rem';

$font-family-sans: 'Comfortaa', 'Open Sans', sans-serif !default;
$font-family-mono: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace !default;
$font-family: $font-family-sans;
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 700;
$base-font-size: 16px;
$base-line-height: 1.6;
$heading-line-height: 1.4;

$margin-small: rem(15);
$margin-large: rem(30);
$container-width: rem(1160);

/// Colors
$white: #fff;
$black: #333;
$purple: #7f2aea;
$aqua: #00a7ce;
$grey-100: lighten($black, 80%);
$grey-200: lighten($black, 70%);
$grey-300: lighten($black, 60%);
$grey-400: lighten($black, 50%);
$grey-500: lighten($black, 40%);
$grey-600: lighten($black, 30%);
$grey-700: lighten($black, 20%);
$grey-800: lighten($black, 10%);
$grey-900: darken($black, 10%);

/// Theme colors
$theme-colors: (
  primary: $purple,
  secondary: $aqua,
  success: #71e510,
  danger: #ff1914,
  warning: #ffb006,
  info: #ffcf07,
  light: $grey-200,
  dark: $black,
  white: $white
) !default;

$color-primary: map-get($theme-colors, primary);
$color-secondary: map-get($theme-colors, secondary);
$color-success: map-get($theme-colors, success);
$color-danger: map-get($theme-colors, danger);
$color-warning: map-get($theme-colors, warning);
$color-info: map-get($theme-colors, info);
$color-light: map-get($theme-colors, light);

/// Color variants
$color-primary-light: desaturate(lighten($color-primary, 12%), 15%);


/// Button options
$button-color-primary: $color-secondary;
$button-color-secondary: $color-primary;
$button-color-danger: $color-danger;
$button-color-disabled: $grey-400;
$button-color-ghost: $white;
$button-line-height: 1.5;
$button-padding-base: 16;
$button-font-size: 16;
$button-border-radius: 4;
$button-border-width: 1;
$button-font-weight: 700;

/// Form options
$form-field-line-height: 1.5;
$form-field-padding-base: 16;
$form-field-font-size: 16;
$form-field-border-radius: 4;
$form-field-border-width: 1;

$shadow-large: 0 rem(20) rem(50) rem(-10) rgba($color-primary, 0.08);
