.BecomeFreelancer {

  &__form form {
    @include block-center;
    display: grid;
    gap: $margin-small;
    grid-template-columns: 1fr;

    @include breakpoint(medium) {
      grid-template-columns: 1fr minmax(auto, #{rem(186)});
    }
  }

  &__getNotified {
    margin-top: rem(32);
    margin-bottom: rem(6);
    font-size: rem(14);
  }
}
