.ForFreelancers {

  &__pageHeader {
    @include breakpoint(medium) {
      margin-bottom: rem(-80);
    }
    @include breakpoint(large) {
      margin-bottom: rem(-120);
    }
  }

  &__callout {
    @include make-section;
    margin-top: 0;
    text-align: center;
    @include breakpoint(medium) {
      margin-top: 0;
    }
  }

  &__iconBlocks {
    @include make-section;
    margin-top: 0;
    margin-bottom: rem(30);
    padding-top: 0 !important; // sass-lint:disable-line no-important
    text-align: center;
    @include breakpoint(medium) {
      margin-top: 0;
      margin-bottom: rem(100);
    }
  }

  &__iconBlocksWrapper {
    display: grid;
    margin: rem(30) 0;
    grid-template: auto / 1fr;
    gap: $margin-large;
    @include breakpoint(medium) {
      margin: rem(60) 0 0;
      grid-template: auto / repeat(3, 1fr);
    }
    @include breakpoint(large) {
      gap: rem(90);
    }
  }

  &__iconBlocksHeading {
    margin: rem(40) 0;
    @include breakpoint(medium) {
      margin: rem(90) 0;
    }
  }

  &__howItWorks {
    margin-top: 0;
    padding: 0 $margin-small rem(20);
    text-align: center;
    @include breakpoint(medium) {
      padding: 0 $margin-large rem(50);
    }
  }

  &__howItWorksInner {
    @include block-center;
    max-width: $container-width;
  }

  &__howItWorksButton {
    margin-top: 1rem;
  }

  &__howItWorksCallout {
    @include block-center;
    max-width: $container-width;
  }

  &__types {
    @include make-section;
    display: grid;
    gap: $margin-small;
    @include breakpoint(medium) {
      grid-template: auto / repeat(2, 1fr);
      gap: $margin-large;
    }
  }

  &__typesButton {
    text-align: center;
    grid-column: 1 / -1;
  }

  &__engagements {
    @include make-section;
    text-align: center;
  }

  &__engagementsHeading {
    margin-bottom: 2em;
  }

  &__engagementsWrapper {
    display: grid;
    gap: $margin-large;
    @include breakpoint(medium) {
      grid-template: auto / repeat(3, 1fr);
    }
  }
}
