.PageHeader {
  $self: &;
  padding: rem(80) 0 rem(40);
  text-align: center;
  @include breakpoint(medium) {
    padding: rem(120) 0;
  }
  @include breakpoint(large) {
    padding: rem(180) 0;
  }

  &__contentWrapper {
    @include block-center;
    padding: 0 $margin-small;

    @include breakpoint(medium) {
      padding: 0 $margin-large;
    }
  }

  &__heading {
    @include text-xxl;
    @include block-center;
    max-width: rem(680);
  }

  &__subHeading {
    @include text-xl;
    @include block-center;
  }

  &__content {
    @include block-center;
    max-width: rem(440);
    line-height: 1.8;
    opacity: 0.7;
  }

  &__form form {
    @include block-center;
    display: grid;
    max-width: rem(890);
    margin-top: rem(30);
    gap: $margin-small;
    grid-template-columns: 1fr;

    @include breakpoint(medium) {
      margin-top: rem(60);
      gap: $margin-large;
      grid-template-columns: 1fr auto;
    }
  }

  &--dark {
    background: $color-primary;
    color: $white;

    a:not(.Button) {
      color: $white;
    }
  }
}
