.PageHeader {
  $self: &;
  position: relative;
  padding: rem(120) 0 rem(80);
  text-align: center;
  @include breakpoint(medium) {
    padding: rem(120) 0;
  }
  @include breakpoint(large) {
    padding: rem(180) 0;
  }

  &--light {
    background-image: url('img_bg_hero_alt_preserve_noline');
    background-repeat: no-repeat;
    background-position: 50% calc(100% - #{rem(80)});
    background-size: cover;
    @include breakpoint(xlarge) {
      background-image: url('img_bg_hero_alt_noline');
      background-size: 100%;
    }
  }

  &__contentWrapper {
    @include block-center;
    padding: 0 $margin-small;

    @include breakpoint(medium) {
      padding: 0 $margin-large;
    }

    > *:last-child {
      margin-bottom: 0;
    }

    > *:first-child {
      margin-top: 0;
    }
  }

  &__heading {
    @include text-xxl;
    @include block-center;
    max-width: rem(680);

    #{$self}--dark & {
      padding-top: rem(60);
    }
  }

  &__subHeading {
    @include text-lg;
    @include block-center;
  }

  &__content {
    @include block-center;
    max-width: rem(800);
    line-height: 1.8;
    opacity: 0.7;
  }

  &__form form {
    @include block-center;
    display: grid;
    max-width: rem(890);
    margin-top: rem(30);
    gap: $margin-small;
    grid-template-columns: 1fr;

    @include breakpoint(medium) {
      margin-top: rem(60);
      gap: $margin-large;
      grid-template-columns: 1fr auto;
    }
  }

  &--dark {
    padding: rem(120) 0 rem(120);
    background-image: url('flare-hero-home-preserve');
    background-repeat: no-repeat;
    background-position: 16%;
    background-size: auto 100%;
    color: $white;

    a:not(.Button) {
      color: $white;
    }
  }

  > *:last-child {
    margin-bottom: 0;
  }

  > *:first-child {
    margin-top: 0;
  }

  .FloatingDonuts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
