.CardSlider {
  padding-bottom: rem(24);

  &__cardInner {
    @include block-center;
    padding: rem(20);
    border: 2px solid #EEEBFD;
    border-radius: rem(8);
    background-color: #fff;

    @include breakpoint(medium) {
      max-width: calc(100% - #{rem($margin-large)});
      padding: rem(30);
    }
  }

  .slick-list {
    z-index: 1;
  }

  .slick-track {
    display: flex;
    align-items: center;
  }

  .slick-dots {
    bottom: rem(-40);
    @include breakpoint(medium) {
      bottom: rem(-10);
    }
  }

  .IconCard {
    padding: 0;
  }
}
