.RaisedCallout {
  padding: 2rem 1rem;
  border: 2px solid #EEEBFD;
  border-radius: rem(12);
  background-color: $white;
  box-shadow: $shadow-large;
  @include breakpoint(medium) {
    padding: 3rem;
  }
  @include breakpoint(large) {
    padding: 5rem;
  }

  &--flare {
    background-image: url('/static/images/img_bg_foot.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  &__contentWrapper {
    margin-top: 2rem;
    @include breakpoint(medium) {
      margin-top: 3rem;
    }
  }
}
