.Header {
  $self: &;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: rem(20);
  transition: 0.125s box-shadow ease-in;
  background-color: transparent;
  box-shadow: none;
  z-index: 10;

  @include breakpoint(medium) {
    position: fixed;
    left: 50%;
    max-width: rem(2000);
    margin: 0 auto;
    transform: translateX(-50%);

    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scaleY(0);
      transform-origin: top;
      transition: 0.125s transform ease-in;
      background-color: #fff;
      content: '';
    }

    &--isScrolled {
      box-shadow: 0 rem(10) rem(10) rgba($color-primary, 0.08);
      &:before {
        transform: scaleY(1);
      }
    }
  }

  &__pageTitle {
    @include srt;
  }

  &__logoWrapper {
    position: relative;
    width: 100%;
    max-width: rem(200);

    @include breakpoint(medium) {
      max-width: rem(245);
    }
  }

  &__logo {
    width: 100%;

    #{$self}--dark & * {
      fill: $white;
    }

    * {
      transition: 0.25s fill ease-in;
    }
  }

  &__nav {
    @include breakpoint(medium down) {
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      padding: $margin-small;
      padding-right: rem(70);
      transform: translateX(100%);
      transition: 0.25s transform ease-in;
      background: linear-gradient(to bottom, $color-primary-light 0%, $color-primary 100%);

      .Menu {
        margin-bottom: $margin-small;

        &__item--has-children > a {
          display: none;
        }

        &__submenu {
          margin: 0;
          padding: 0;
        }

        &__item {
          margin: 1rem 0;
          font-weight: $font-weight-bold;
        }

        &__link {
          color: $white;
          text-decoration: none;
        }
      }

      &--active {
        transform: translateX(0);
      }
    }
    @include breakpoint(large) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .Menu {
        display: flex;

        &__link {
          transition: 0.25s all ease-in;
          text-decoration: none;

          #{$self}--dark & {
            color: $white;
          }
        }

        > .Menu__item {
          position: relative;
          margin: 0 1rem;
          transition: 0.25s all ease-in;
          cursor: pointer;

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }

          > .Menu__submenu > .Menu__item {
            display: block;
            margin-top: -100%;
            padding: rem(10);
            overflow: hidden;

            .Menu__link {
              color: $black;
            }
          }

          &.Menu__item--hovered > .Menu__submenu > .Menu__item {
            // animation: 0.5s stack ease-in;
          }

          &:hover > .Menu__submenu > .Menu__item,
          &:focus-within > .Menu__submenu > .Menu__item {
            margin-top: 0;
            //animation: 0.5s unstack ease-out;
          }
        }

        &__submenu {
          position: absolute;
          top: 100%;
          left: 0;
          width: rem(200);
          margin: 0;
          padding: 0;
          background-color: #fff;
          box-shadow: 0 0 rem(10) rgba($purple, 0.125);
          overflow: hidden;
          z-index: 1;
        }
      }
    }
  }

  &__navToggle {
    z-index: 2;
    &--active,
    &--white {
      .Hamburger__line {
        background-color: $white;
      }
    }
    @include breakpoint(large) {
      display: none;
    }
  }

  &__button {
    @include breakpoint(medium down) {
      display: none;
    }
  }

  &--dark {
    color: $white;
  }
}
