.XYTable {
  $self: &;
  display: flex;
  flex-flow: row wrap;
  font-size: 0.875rem;
  text-align: left;
  border-collapse: collapse;
  @include breakpoint(large) {
    font-size: 1rem;
  }

  &__header,
  &__body {
    width: 100%;
  }

  &__headerRow,
  &__bodyRow {
    display: flex;
    justify-content: space-evenly;

    > * {
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 0;
    }
  }

  &__body {
    border: 1px solid $gray-300;
    border-radius: rem(6);
    border-top-right-radius: 0;
    box-shadow: $shadow-large;
  }

  &__bodyRow {
    border-bottom: 1px solid $gray-300;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__bodyCell,
  &__headerCell {
    background-color: $white;
  }

  &__bodyCell,
  &__headerSpacer,
  &__headerCell {
    padding: 1rem;
    @include breakpoint(large) {
      padding: 1.5rem 2rem;
    }
  }

  &__bodyCell {
    border-right: 1px solid $gray-300;

    &--featured {
      color: $color-primary-light;
      font-weight: $font-weight-bold;
    }

    &:last-child {
      border-right: 0;
    }
  }

  &__headerCell {
    display: flex;
    align-items: center;
    border: 1px solid $gray-300;
    border-right: 0;
    border-bottom: 0;

    &:first-of-type {
      border-top-left-radius: rem(6);
    }

    &:last-of-type {
      border-right: 1px solid $gray-300;
      border-top-right-radius: rem(6);
    }
  }

  &__logo {
    width: 100%;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  &__listItem {
    margin: $margin-small 0;
    padding: 1.5rem;
    border: 1px solid $gray-300;
    box-shadow: $shadow-large;
  }

  &__listInner {
    margin: 0;
  }

  &__listTitle {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: $font-weight-bold;

    #{$self}__logo {
      max-width: rem(170);
    }
  }

  &__listDescription {
    margin: 0;

    + #{$self}__listTitle {
      margin-top: 1.75rem;
    }

    &--featured {
      #{$self}__listValue {
        color: $color-primary-light;
        font-weight: $font-weight-bold;
      }
    }
  }

  &__listLabel {
    font-weight: $font-weight-bold;
  }
}
