.Footer {
  margin: rem(40) 0 0;
  padding: rem(200) $margin-small rem(40);
  background-image: url('flare-footer');
  background-repeat: no-repeat;
  background-position: 65% 100%;
  background-size: auto 100%;
  color: $white;

  a:not(.Button) {
    color: $white;
  }

  @include breakpoint(medium) {
    margin: rem(100) 0 0;
    padding: rem(380) $margin-large rem(40);
  }

  &__contentWrapper {
    @include block-center;
    max-width: $container-width;
    @include breakpoint(medium) {
      display: grid;
      column-gap: rem(90);
      grid-template: repeat(3, auto) / 1fr 2fr 1fr;
      row-gap: rem(60);
    }
  }

  &__navMenu {
    @include breakpoint(medium) {
      display: grid;
      column-gap: rem(90);
      grid-template: auto / 1fr 1fr;
    }
  }

  &__copyright,
  &__buttonGroup {
    text-align: center;
    grid-column: 1 / -1;

    .Button {
      margin: 1rem 0;
      @include breakpoint(small down) {
        width: 100%;
      }
      @include breakpoint(medium) {
        margin: 0 1rem;
      }
    }
  }

  &__logo {

    * {
      fill: $white;
    }
  }
}
