.ScheduleCall {
  &__calendlyWidget {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include breakpoint(medium down) {
      min-height: rem(860);
    }
    @include breakpoint(medium) {
      flex-grow: 1;
      flex-shrink: 0;
    }
    iframe {
      flex-grow: 1;
      flex-shrink: 0;
    }
  }
}
