.Accordion {
  $self: &;

  &__item {
    padding: 1rem 0;
  }

  &__body {
    display: block;
    padding-top: 1.5rem;
    transition: 0.25s all ease-in;
    opacity: 1;
    animation: fade-in 0.35s ease-in-out;

    &--hidden {
      display: none;
      opacity: 0;
    }
  }

  &__item {
    padding: 1rem;
    border: 1px solid $gray-300;
    border-radius: rem(6);
    background: $white;
    box-shadow: $shadow-large;
    @include breakpoint(medium) {
      padding: rem(20);
    }
    @include breakpoint(large) {
      padding: rem(24);
    }

    + #{$self}__item {
      margin-top: $margin-small;
    }
  }

  &__title {
    position: relative;
    cursor: pointer;

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }

    &:after {
      position: absolute;
      top: 50%;
      right: 0;
      width: rem(16);
      height: rem(16);
      transform: translateY(-50%) rotate(180deg);
      transition: 0.25s transform;
      background-image: url('icons/icon-chevron-down' param(--color, $gray-400));
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      content: '';
    }

    #{$self}__item--closed &:after {
      transform: translateY(-50%) rotate(0);
    }
  }
}
